.about-page
    .link-to-home-page
        font-family Montserrat
        font-size 14px
        line-height 26px
        text-decoration-line underline
        color #0058DC

        &:hover
            color mix(white, #0058DC)
