.days-switcher
    display flex
    justify-content space-between
    align-items baseline

    .prev-day, .next-day
        cursor pointer
        font-family: Montserrat
        font-style: normal
        font-weight: 500
        font-size: 14px
        line-height: 14px
        text-decoration-line: underline
        color #828282

        span
            display inline-flex
            align-items center

        img
            padding-right: 15px;
