.citation-block-small
    width 100%
    border-radius 3px
    box-shadow 0 1px 5px rgba(0, 0, 0, 0.1)
    overflow hidden
    color white

    .picture-mask
        display flex
        flex-direction column
        background no-repeat center url("/img/main-about-picture-mask.png")
        background-size: cover;
        height 100%

        .text
            padding 33px 20px

            h4
                position relative
                padding 36px 0
                font-family Montserrat
                font-style italic
                font-weight 600
                font-size 13px
                line-height 20px
                text-align center
                vertical-align center

            .citation-icon
                position absolute

                &.top
                    width 24px
                    height 17px
                    left 35px
                    top 4px

                &.bottom
                    width 24px
                    height 17px
                    right 70px
                    bottom 8px

            .author
                font-family Montserrat
                text-align center
                font-weight 500
                font-size 11px
                line-height 20px

    .more-video-btn
        text-align center
        margin-bottom 33px
