.rubric-item-big
    .rubric-item-picture
        position: relative;
        padding-top 68.44%
        border-radius 3px 3px 0 0
        box-shadow 0 1px 5px rgba(0, 0, 0, 0.1)
        overflow hidden
        color white

        .picture-mask
            position absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            display flex
            flex-direction column
            justify-content  center
            align-items center
            background no-repeat center url("/img/rubric-picture-mask.png")
            background-size: cover;
            height 100%

            &:hover
                .play-btn
                    transform scale(1.03)

            .play-btn
                background: no-repeat center url("/img/icons/youtube_white_btn.svg")
                background-size: cover;
                width 20.532%
                height: 30%
                transition .3s

    .text
        padding: 10px 17px
        color white
        vertical-align center
        background-color #28A2D6
        border-radius 0 0 3px 3px
        font-family Montserrat
        font-weight 500
        font-size 20px
        line-height 30px




