@media $lg-and-larger
    .cities-bg-lg
        position: relative;
        .left-city-bg, .right-city-bg
            position absolute
            top 320px
            width 250px
            height 600px

        .left-city-bg
            left -200px
            background: url("/img/backgrounds/city_bg_lg_left.svg") no-repeat left
            background-size: contain;

        .right-city-bg
            width: 350px
            right -170px
            background: url("/img/backgrounds/city_bg_lg_right.svg") no-repeat right
            background-size: contain;
