#gif_add
    margin-bottom 18px
    @media $lg-and-smaller
        margin-bottom: 10px
    @media $md-and-smaller
        margin-bottom: -15px
    @media $sm-and-smaller
        margin-bottom: -60px
    @media $xs-and-smaller
        margin-bottom: -75px
