.main-about-info-block
    background white
    border-radius 3px
    color #333
    box-shadow 0 1px 5px rgba(0, 0, 0, 0.1)
    padding 20px 30px

    &__text
        font-family Lora
        font-size 14px
        line-height 23px
