.contacts-information-block
    background white
    border-radius 3px
    color #333
    box-shadow 0 1px 5px rgba(0, 0, 0, 0.1)

    .content
        color #000
        .content-item
            h4
                font-family Montserrat
                font-style normal
                font-weight 600
                font-size 14px
                line-height 22px

            a, p
                font-family Lato
                font-style normal
                font-weight normal
                font-size 12px
                line-height 22px

            .social-buttons
                .social-button
                    width 22px
                    height 22px
                    filter invert(2)
                    opacity 0.5

    @media $sm-and-larger
        .vertical-line:before
            content ''
            left -15px
            top 50%
            transform translateY(-50%)
            position absolute
            display inline-block
            height 90%
            width 1px
            background-color: rgba(0, 0, 0, 0.1)
