.last-video-block
    .last-video-picture
        height 200px
        width 100%
        border-radius 3px
        box-shadow 0 1px 5px rgba(0, 0, 0, 0.1)
        overflow hidden
        color white

        .picture-mask
            cursor pointer
            display flex
            flex-direction column
            justify-content  center
            align-items center
            //background no-repeat center url("/img/main-about-picture-mask.png")
            background-size: cover;
            height 100%

            .play-btn
                cursor: pointer;
                background: no-repeat center url("/img/icons/youtube_white_btn.svg")
                background-size: cover;
                height 54px
                width 54px

    .text
        font-family Montserrat
        font-weight 500
        font-size 18px
        line-height 24px
