.social-block
    .social-block-item
        margin-bottom: 15px
        cursor: pointer;

        .item
            border-radius 50px
            display: flex;
            width: 100%;
            justify-content: center;

        img
            object-fit contain
            height: 40px
            padding: 10px 0

        &.instagram
            .item
                background: linear-gradient(195.45deg, #8a3ab9 3.61%, #fbad50 100%);

        &.vk
            .item
                background: linear-gradient(110.77deg, #2E6AB5 10.25%, #0B3F81 91.01%);

        &.ok
            .item
                background: linear-gradient(174.87deg, rgb(237, 181, 98) 11.95%, #ed812b 88.91%);

        &.telegram
            .item
                background: linear-gradient(116.89deg, #40BFF5 10.4%, #28A2D6 84.39%);

        &.facebook
            .item
                background: linear-gradient(112.99deg, #516EAB 12.19%, #29498C 93.8%);

        &.youtube
            .item
                background: linear-gradient(330.46deg, #B71616 11.09%, #FF0000 95.42%);

        &.efir
            .item
                background: linear-gradient(330.46deg, #9999ff 11.09%, #7373ff 95.42%);

        &.twitter
            .item
                background: linear-gradient(330.46deg, #9999ff 11.09%, #7373ff 95.42%);


    .social
        max-width 100%
