// -----------------------------------------------------------------------------
// This file contains all application-wide stylus functions.
// -----------------------------------------------------------------------------
