// Подключен целиком бутстрап, если не будут использоваться его
// готовые компоненты, то есть смысл подключить только reboot и систему сеток
// тем самым избавится от jQuery
@require "~bootstrap/dist/css/bootstrap.min.css"
